@import "../../vars.css";

.container {
    margin: 60px 10%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    align-items: flex-start;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project {
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 20px;
    color: var(--color-text);
    max-width: 250px;
    height: 100%;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project:hover {
    transition: 0.5s all ease-in-out;
    scale: 1.01;
}

.project img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.lan {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: max-content;
}

.lan p {
    padding: 2px;
    background-color: rgb(81, 102, 129);
    border-radius: 5px;
}

.links {
    margin-top: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    color: var(--font-roboto);
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgb(80, 140, 196);
    border-radius: 10px;
}

.links a:hover {
    transition: 0.5s all ease;
    background-color: rgb(143, 204, 184);
    color: black;
}

/* Media Queries */
@media screen and (max-width: 650px) {
    .projects {
        justify-content: center;
    }

    .project {
        max-width: 90%; /* Allow for more space on smaller screens */
        margin: 10px 0; /* Add vertical spacing */
    }

    .title {
        font-size: 28px; /* Reduce title size on small screens */
    }
}

@media (min-width: 670px) and (max-width: 986px) {
    .projects {
        gap: 10px;
        margin-left: 10%;
    }

    .project {
        max-width: calc(50% - 10px); /* Two items per row */
    }
}

@media (min-width: 987px) {
    .project {
        max-width: calc(33.33% - 10px); /* Three items per row */
    }
}
